{% extends "base.html" %}
{% block content %}
<!-- component -->
<div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
    <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
      <h1 class="font-bold text-center text-2xl mb-5">Login</h1>  
      <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
        <form method="POST">
            {% csrf_token %}
            <div class="px-5 py-7">
            <label class="font-semibold text-sm text-gray-600 pb-1 block">Username</label>
            <input name="username" type="text" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />
            <label class="font-semibold text-sm text-gray-600 pb-1 block">Password</label>
            <input name="password" type="password" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />
            <button type="submit" class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                <span class="inline-block ">Login</span>
            </button>
            <div
                class="flex px-4 text-slate-500 text-xs md:text-sm items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5"
                >
                <p class="text-center font-semibold mx-4 mb-0">Atau</p>
            </div>
                <a href="admin.php?signup=yes" class="bg-green-600 text-white py-2 w-full mx-auto block text-center">Daftar akun</a>
            </div>
        </form>
      </div>
      
    </div>
  </div>
{% endblock  %}